@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@1,500&display=swap');


$font-title: 'Rubik Mono One', sans-serif;
$font-text: 'Rubik', sans-serif;
$font-color:#557A55;


$background-color:#8FA593;
$background-color-botton:#557A55;